<!DOCTYPE html>
<!-- saved from url=(0021)http://www.jinse.com/ -->
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>金色财经_在这里，读懂区块链</title>
    <meta name="keywords" content="区块链，区块链是什么，区块链快讯，区块链新闻，区块链学院，区块链培训，区块链百科">
    <meta name="description" content="金色财经是集行业新闻、资讯、行情、数据等一站式区块链产业服务平台，我们追求及时、全面、专业、准确的资讯与数据，致力于为区块链创业者以及数字货币投资者提供最好的产品和服务。">
    <meta name="author" content="金色财经">
    <link rel="shortcut icon" href="http://resource.jinse.com/favicon.ico?v=169">
    <link rel="stylesheet" type="text/css" href="../Image/src/master.css">
    <link rel="stylesheet" type="text/css" href="../Image/src/headr.css">
    <link rel="stylesheet" type="text/css" href="../Image/src/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="../Image/src/index.css">
    <link rel="stylesheet" type="text/css" href="../Image/src/layer.css">
    <script async="" src="../Image/src/analytics.js"></script>
    <script src="../Image/src/push.js"></script>
    <script src="../Image/src/hm.js"></script>
    <script type="text/javascript">
        // 百度统计
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?3b668291b682e6dc69686a3e2445e11d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();

        // 百度站长
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            } else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();

        (function () {
            var src = (document.location.protocol === "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?a9e4fe600c045f547e8aa6e2ddc2e539" : "https://jspassport.ssl.qhimg.com/11.0.1.js?a9e4fe600c045f547e8aa6e2ddc2e539";
            document.write('<script src="' + src + '" id="sozz"><\/script>');
        })();

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../Image/src/analytics.js', 'ga');

        ga('create', 'UA-96085176-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="../Image/src/11.0.1.js" id="sozz"></script>
    <script charset="utf-8" src="../Image/src/ab77b6ea7f3fbf79.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body style="background-color:#F7F8FA !important;">
    <header class="bgwhite marginb">
        <div class="topnav font12 line30" id="navtop">
            <div class="bx fontn">
                <div id="yuyan">
                    <div class="language">
                        <a href="javascript:void(0);">中国 - 简体中文</a>
                        <img src="../Image/src/returnb.png" class="xialai">
                    </div>
                    <ul class="guojia">
                        <li><a href="http://www.jinse.com/" target="_blank">中国 - 简体中文</a></li>
                        <li><a href="http://kr.cointime.com/" target="_blank">대한민국 - 한국어</a></li>
                        <li>
                            <a href="http://jp.cointime.com/" target="_blank">日本 - 日本語 </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="huise">
                                Australia -
                                English
                            </a><span>即将上线</span>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="huise">
                                Российская империя - Русский язык
                            </a>
                            <span>即将上线</span>
                        </li>
                    </ul>
                </div>
                <div class="erweima">
                    <img src="../Image/src/phone.png" alt="手机"> APP下载
                    <div class="ewm">
                        <img alt="金色财经APP" src="../Image/src/appewm-qq.png">
                        <span class="gray2 center white">Android &amp; iPhone</span>
                    </div>
                </div>
                <div class="shijian" style="">
                    <strong id="nian">2017.11.27</strong>
                    <strong>今天</strong>
                    <strong id="xingqi">星期一</strong>
                    <strong id="shijian">22:20</strong>
                </div>
            </div>
        </div>
    </header>
    <div class="bgwhite marginb marginbs" id="navBar">
        <div class="nav">
            <div class=" logo  left">
                <a href="http://www.jinse.com/" title="金色财经">
                    <svg width="150px" height="28px" viewBox="0 0 150 28">
                        <path d="M27.1144134,0.17173032 C27.4196885,0.17173032 27.6695475,0.422672522 27.6695475,0.729271166 L27.6695475,27.4038414 L27.6695475,27.9613822 L27.1144134,27.9613822 L0.554988297,27.9613822 C0.24922703,27.9613822 0.00034027486,27.71044 0.00034027486,27.4038414 L0.00034027486,21.5716322 C0.00034027486,21.2650335 0.24922703,21.0136031 0.554988297,21.0136031 L20.1975977,21.0136031 C20.5019006,21.0136031 20.7517596,20.7631491 20.7517596,20.4565505 L20.7517596,0.729271166 C20.7517596,0.422672522 21.0016186,0.17173032 21.3068937,0.17173032 L27.1144134,0.17173032 Z M0.632036248,18.2461109 C0.284469783,18.2461109 9.72213887e-05,17.9605055 9.72213887e-05,17.610944 L9.72213887e-05,10.9668342 C9.72213887e-05,10.6177609 0.284469783,10.3321555 0.632036248,10.3321555 L7.24746564,10.3321555 C7.59551821,10.3321555 7.87989078,10.6177609 7.87989078,10.9668342 L7.87989078,17.610944 C7.87989078,17.9605055 7.59551821,18.2461109 7.24746564,18.2461109 L0.632036248,18.2461109 Z M10.4780838,8.08563694 C10.1305173,8.08563694 9.84614475,7.80003151 9.84614475,7.45095822 L9.84614475,0.806848434 C9.84614475,0.457286923 10.1305173,0.171681498 10.4780838,0.171681498 L10.9311354,0.171681498 L16.7386551,0.171681498 L17.0935132,0.171681498 C17.4415657,0.171681498 17.7259383,0.457286923 17.7259383,0.806848434 L17.7259383,7.45095822 C17.7259383,7.80003151 17.4415657,8.08563694 17.0935132,8.08563694 L10.4780838,8.08563694 Z" id="Combined-Shape" fill="#F39700"></path>
                        <path d="M113.424062,7.9819402 C113.198509,7.9819402 112.949136,8.15525631 112.869414,8.36714136 L107.07502,23.7576121 C106.995298,23.9694972 106.824674,23.9909786 106.694884,23.8054572 L102.970332,18.4707384 C102.841028,18.2857051 102.735057,17.9488372 102.735057,17.7223057 L102.735057,7.758338 C102.735057,7.53229474 102.550822,7.34677326 102.325269,7.34677326 L100.351674,7.34677326 C100.126607,7.34677326 99.9423723,7.53229474 99.9423723,7.758338 L99.9423723,17.7921204 C99.9423723,18.0186519 99.8359149,18.3555198 99.7056382,18.5400648 L94.9558873,25.3028107 C94.8260967,25.4873558 94.8742213,25.7402508 95.0633169,25.8637691 L96.5250405,26.8226222 C96.7141361,26.9461404 96.9756616,26.8968307 97.1069105,26.7127739 L101.118265,21.081709 C101.249514,20.8976522 101.463887,20.8981404 101.59465,21.0821972 L105.27691,26.2665459 C105.408159,26.4506028 105.625449,26.601461 105.759614,26.601461 L106.4144,26.601461 L108.237301,26.601461 L108.816741,26.601461 C108.910559,26.601461 109.051044,26.4276567 109.129307,26.2152834 L115.694668,8.36811779 C115.772931,8.15574453 115.652377,7.9819402 115.426823,7.9819402 L113.424062,7.9819402 Z" id="Fill-8" fill="#545455"></path>
                        <path d="M47.5788351,1.87901608 C47.3532815,1.87901608 47.037312,2.0083929 46.8759245,2.16657436 L38.2951647,10.5702088 C38.1337772,10.7279021 38.1342633,10.9861675 38.2956508,11.144349 L39.7141109,12.5279486 C39.8759845,12.6856418 40.1409128,12.6861301 40.3032725,12.5284368 L48.1879271,4.89178715 C48.3502869,4.73458211 48.6672286,4.60618172 48.8927822,4.60618172 L53.5127426,4.60618172 C53.7382962,4.60618172 54.055238,4.73458211 54.2171116,4.89178715 L62.1022523,12.5284368 C62.264612,12.6861301 62.5295403,12.6856418 62.6914139,12.5279486 L64.109874,11.144349 C64.2712615,10.9861675 64.2717476,10.7279021 64.1103601,10.5702088 L55.5296003,2.16657436 C55.3682128,2.0083929 55.0522433,1.87901608 54.8266897,1.87901608 L47.5788351,1.87901608 Z" id="Fill-10" fill="#545455"></path>
                        <path d="M52.6322085,19.0101665 C52.6322085,18.7841232 52.8169291,18.5986017 53.0419966,18.5986017 L61.8731015,18.5986017 C62.0986551,18.5986017 62.2833757,18.4135685 62.2833757,18.187037 L62.2833757,16.3225462 C62.2833757,16.0960147 62.0986551,15.9104933 61.8731015,15.9104933 L53.0419966,15.9104933 C52.8169291,15.9104933 52.6322085,15.72546 52.6322085,15.4994167 L52.6322085,12.6843725 C52.6322085,12.4583292 52.8169291,12.273296 53.0419966,12.273296 L58.3556316,12.273296 C58.5811853,12.273296 58.7654198,12.0877745 58.7654198,11.861243 L58.7654198,9.96941221 C58.7654198,9.74336894 58.5811853,9.55833568 58.3556316,9.55833568 L44.0504765,9.55833568 C43.825409,9.55833568 43.6406884,9.74336894 43.6406884,9.96941221 L43.6406884,11.861243 C43.6406884,12.0877745 43.825409,12.273296 44.0504765,12.273296 L49.3932779,12.273296 C49.6188315,12.273296 49.8030661,12.4583292 49.8030661,12.6843725 L49.8030661,15.4994167 C49.8030661,15.72546 49.6188315,15.9104933 49.3932779,15.9104933 L40.5330067,15.9104933 C40.307453,15.9104933 40.1237046,16.0960147 40.1237046,16.3225462 L40.1237046,18.187037 C40.1237046,18.4135685 40.307453,18.5986017 40.5330067,18.5986017 L49.3932779,18.5986017 C49.6188315,18.5986017 49.8030661,18.7841232 49.8030661,19.0101665 L49.8030661,23.5305436 C49.8030661,23.7570751 49.6188315,23.9421084 49.3932779,23.9421084 L40.0153028,23.9421084 C39.7897491,23.9421084 39.6055146,24.1271416 39.6055146,24.3536731 L39.6055146,26.2459921 C39.6055146,26.4725236 39.7897491,26.6575569 40.0153028,26.6575569 L62.3932359,26.6575569 C62.6187895,26.6575569 62.8035102,26.4725236 62.8035102,26.2459921 L62.8035102,24.3536731 C62.8035102,24.1271416 62.6187895,23.9421084 62.3932359,23.9421084 L53.0419966,23.9421084 C52.8169291,23.9421084 52.6322085,23.7570751 52.6322085,23.5305436 L52.6322085,19.0101665 Z" id="Fill-12" fill="#545455"></path>
                        <path d="M98.0888952,4.92176351 C98.0888952,4.69523203 98.2731297,4.51019877 98.4986833,4.51019877 L104.176899,4.51019877 C104.402452,4.51019877 104.586687,4.69523203 104.586687,4.92176351 L104.586687,19.1898294 C104.586687,19.4158727 104.771407,19.6009059 104.996475,19.6009059 L106.970555,19.6009059 C107.195623,19.6009059 107.379857,19.4158727 107.379857,19.1898294 L107.379857,2.29077611 C107.379857,2.06424462 107.195623,1.87921137 106.970555,1.87921137 L95.7069711,1.87921137 C95.4814175,1.87921137 95.2966969,2.06424462 95.2966969,2.29077611 L95.2966969,19.1898294 C95.2966969,19.4158727 95.4814175,19.6009059 95.7069711,19.6009059 L97.679107,19.6009059 C97.9046606,19.6009059 98.0888952,19.4158727 98.0888952,19.1898294 L98.0888952,4.92176351 Z" id="Fill-14" fill="#545455"></path>
                        <path d="M118.93214,2.29072728 C118.93214,2.0641958 118.747419,1.87916254 118.522352,1.87916254 L116.548758,1.87916254 C116.32369,1.87916254 116.13897,2.0641958 116.13897,2.29072728 L116.13897,3.3150011 C116.13897,3.54153258 115.954735,3.72656584 115.729181,3.72656584 L109.606664,3.72656584 C109.381597,3.72656584 109.197362,3.9115991 109.197362,4.13813058 L109.197362,5.9933453 C109.197362,6.21938857 109.381597,6.40491004 109.606664,6.40491004 L115.729181,6.40491004 C115.954735,6.40491004 116.13897,6.5899433 116.13897,6.81647478 L116.13897,23.5939627 C116.13897,23.8204942 115.954735,24.0055274 115.729181,24.0055274 L113.730796,24.0055274 C113.505728,24.0055274 113.321008,24.1905607 113.321008,24.4170922 L113.321008,26.2459433 C113.321008,26.4724748 113.505728,26.657508 113.730796,26.657508 L118.522352,26.657508 C118.747419,26.657508 118.93214,26.4724748 118.93214,26.2459433 L118.93214,6.81647478 C118.93214,6.5899433 119.116375,6.40491004 119.341928,6.40491004 L120.528029,6.40491004 C120.753097,6.40491004 120.937817,6.21938857 120.937817,5.9933453 L120.937817,4.13813058 C120.937817,3.9115991 120.753097,3.72656584 120.528029,3.72656584 L119.341928,3.72656584 C119.116375,3.72656584 118.93214,3.54153258 118.93214,3.3150011 L118.93214,2.29072728 Z" id="Fill-16" fill="#545455"></path>
                        <path d="M133.901317,17.779378 C133.901317,18.0059095 134.086038,18.1909427 134.311105,18.1909427 L139.893558,18.1909427 C140.119111,18.1909427 140.303346,18.3764642 140.303346,18.6025075 L140.303346,23.5207793 C140.303346,23.7473108 140.119111,23.9323441 139.893558,23.9323441 L134.311105,23.9323441 C134.086038,23.9323441 133.901317,24.1173773 133.901317,24.3439088 L133.901317,26.17276 C133.901317,26.3992914 134.086038,26.5843247 134.311105,26.5843247 L149.142714,26.5843247 C149.367782,26.5843247 149.552503,26.3992914 149.552503,26.17276 L149.552503,24.3439088 C149.552503,24.1173773 149.367782,23.9323441 149.142714,23.9323441 L143.50436,23.9323441 C143.278806,23.9323441 143.094572,23.7473108 143.094572,23.5207793 L143.094572,18.6025075 C143.094572,18.3764642 143.278806,18.1909427 143.50436,18.1909427 L149.142714,18.1909427 C149.367782,18.1909427 149.552503,18.0059095 149.552503,17.779378 L149.552503,15.923675 C149.552503,15.6971436 149.367782,15.5121103 149.142714,15.5121103 L134.311105,15.5121103 C134.086038,15.5121103 133.901317,15.6971436 133.901317,15.923675 L133.901317,17.779378 Z" id="Fill-18" fill="#545455"></path>
                        <path d="M144.104313,8.3326246 C143.924454,8.19641279 143.924454,7.97378702 144.104799,7.8375752 L147.980044,4.9151238 C148.160389,4.77940019 148.30768,4.48305405 148.30768,4.25652257 L148.30768,2.4437825 C148.30768,2.21773923 148.123445,2.03270597 147.897892,2.03270597 L134.261134,2.03270597 C134.03558,2.03270597 133.850859,2.21773923 133.850859,2.4437825 L133.850859,4.25798721 C133.850859,4.4845187 134.03558,4.66955195 134.261134,4.66955195 L143.33675,4.66955195 C143.562304,4.66955195 143.714941,4.71251482 143.677025,4.76573019 C143.639109,4.81845735 143.460221,4.9727331 143.279876,5.1084567 L133.376905,12.5454267 C133.196559,12.6811503 133.163018,12.9374628 133.303503,13.1141964 L134.469187,14.5890922 C134.609186,14.766314 134.871198,14.800489 135.051544,14.6642772 L141.204199,10.0247757 C141.384545,9.88905211 141.679612,9.88905211 141.859471,10.0252639 L147.983447,14.663789 C148.163792,14.8000008 148.429207,14.7697315 148.574066,14.5964154 L149.783501,13.1488597 C149.927874,12.9750553 149.89968,12.7216721 149.719334,12.5854603 L144.104313,8.3326246 Z" id="Fill-20" fill="#545455"></path>
                        <path d="M71.3093122,11.5439036 C71.3093122,11.3173722 71.4935468,11.1323389 71.7191004,11.1323389 L77.4702317,11.1323389 C77.6957853,11.1323389 77.8800198,11.3173722 77.8800198,11.5439036 L77.8800198,16.5026973 C77.8800198,16.7292288 77.6957853,16.9142621 77.4702317,16.9142621 L71.7191004,16.9142621 C71.4935468,16.9142621 71.3093122,16.7292288 71.3093122,16.5026973 L71.3093122,11.5439036 Z M80.6595793,11.5439036 C80.6595793,11.3173722 80.8442999,11.1323389 81.0698536,11.1323389 L87.4359101,11.1323389 C87.6614637,11.1323389 87.8456983,11.3173722 87.8456983,11.5439036 L87.8456983,16.5026973 C87.8456983,16.7292288 87.6614637,16.9142621 87.4359101,16.9142621 L81.0698536,16.9142621 C80.8442999,16.9142621 80.6595793,16.7292288 80.6595793,16.5026973 L80.6595793,11.5439036 Z M91.0554624,24.382966 C91.0554624,24.1564345 90.8707418,23.9714012 90.6451881,23.9714012 L71.7191004,23.9714012 C71.4935468,23.9714012 71.3093122,23.786368 71.3093122,23.5598365 L71.3093122,20.0129589 C71.3093122,19.7864274 71.4935468,19.6009059 71.7191004,19.6009059 L90.2169279,19.6009059 C90.4419954,19.6009059 90.62623,19.4158727 90.62623,19.1898294 L90.62623,8.88362338 C90.62623,8.6570919 90.4419954,8.47205864 90.2169279,8.47205864 L87.6843107,8.47205864 C87.4592432,8.47205864 87.3173,8.29190752 87.3693134,8.07172283 L88.4533319,3.50350068 C88.5053454,3.28331598 88.3634021,3.10316487 88.1383346,3.10316487 L85.4380106,3.10316487 L84.6189204,3.10316487 L72.5649265,3.10316487 C72.3393729,3.10316487 72.1823603,2.92008447 72.2159017,2.69599406 L72.2878455,2.21510287 C72.3213869,1.99101246 72.1643744,1.80793206 71.9393068,1.80793206 L69.9778653,1.80793206 C69.7523117,1.80793206 69.535508,1.99003603 69.4951611,2.2126618 L68.9303049,5.33723397 C68.889958,5.55985974 69.0416234,5.74245192 69.267177,5.74245192 L71.2276463,5.74245192 L72.0477087,5.74245192 L84.6189204,5.74245192 C84.8439879,5.74245192 84.9903061,5.92357946 84.9431537,6.14474059 L84.53531,8.06928176 C84.4881576,8.29093109 84.2655206,8.47205864 84.039967,8.47205864 L68.9113467,8.47205864 C68.6862792,8.47205864 68.5020446,8.6570919 68.5020446,8.88362338 L68.5020446,26.2459921 C68.5020446,26.4725236 68.6862792,26.6575569 68.9113467,26.6575569 L90.6451881,26.6575569 C90.8707418,26.6575569 91.0554624,26.4725236 91.0554624,26.2459921 L91.0554624,24.382966 Z" id="Fill-23" fill="#545455"></path>
                        <path d="M124.339594,23.734959 C124.11404,23.734959 123.929319,23.9199923 123.929319,24.1465237 L123.929319,25.9753749 C123.929319,26.2019064 124.11404,26.3874278 124.339594,26.3874278 L131.266132,26.3874278 C131.491199,26.3874278 131.67592,26.2019064 131.67592,25.9753749 L131.67592,24.1465237 C131.67592,23.9199923 131.491199,23.734959 131.266132,23.734959 L124.339594,23.734959 Z" id="Fill-25" fill="#545455"></path>
                        <path d="M45.6163728,22.2867686 C45.6163728,22.5128119 45.4316522,22.6983334 45.2060985,22.6983334 L43.2864622,22.6983334 C43.0609086,22.6983334 42.8766741,22.5128119 42.8766741,22.2867686 L42.8766741,20.3583217 C42.8766741,20.1317902 43.0609086,19.946757 43.2864622,19.946757 L45.2060985,19.946757 C45.4316522,19.946757 45.6163728,20.1317902 45.6163728,20.3583217 L45.6163728,22.2867686 Z" id="Fill-27" fill="#545455"></path>
                        <path d="M59.5117398,22.2867686 C59.5117398,22.5128119 59.3270191,22.6983334 59.1014655,22.6983334 L57.1818292,22.6983334 C56.9562756,22.6983334 56.772041,22.5128119 56.772041,22.2867686 L56.772041,20.3583217 C56.772041,20.1317902 56.9562756,19.946757 57.1818292,19.946757 L59.1014655,19.946757 C59.3270191,19.946757 59.5117398,20.1317902 59.5117398,20.3583217 L59.5117398,22.2867686 Z" id="Fill-29" fill="#545455"></path>
                        <path d="M128.703667,18.3965298 C128.478114,18.3965298 128.354643,18.2222373 128.429989,18.0083994 L130.714206,11.4985485 C130.789066,11.2851988 130.665595,11.1109063 130.440041,11.1113945 L128.212213,11.1167649 C127.987146,11.1172531 127.741662,11.2925221 127.667287,11.50636 L124.476481,20.6598918 C124.401621,20.8737297 124.525092,21.0485104 124.750646,21.0485104 L131.265937,21.0485104 C131.491005,21.0485104 131.675725,20.862989 131.675725,20.6364575 L131.675725,18.8080945 C131.675725,18.5815631 131.491005,18.3965298 131.265937,18.3965298 L128.703667,18.3965298 Z" id="Fill-31" fill="#545455"></path>
                        <path d="M127.520191,9.40772154 C127.597969,9.19534827 127.729217,8.84920426 127.812342,8.63829564 L130.314334,2.26221556 C130.396972,2.05130694 130.280307,1.87896726 130.054753,1.87896726 L127.745745,1.87896726 C127.520678,1.87896726 127.271791,2.05277159 127.193528,2.26514485 L124.071749,10.7244358 C123.993486,10.936809 124.11404,11.1101252 124.339594,11.1101252 L126.48527,11.1101252 C126.710823,11.1101252 126.959224,10.9363208 127.037001,10.7239476 L127.520191,9.40772154 Z" id="Fill-33" fill="#F39700"></path>
                    </svg>
                </a>
            </div>
            <div class=" mainbav  left font16">
                <ul>
                    <li class="tab ">
                        <a href="/Home/Index">首页</a>
                    </li>
                    <!-- <li class="tab ">
                        <a href="http://www.jinse.com/lives" class=" ">
                                快讯
                                                            </a>
                    </li>
                    <li class="tab ">
                        <a href="http://www.jinse.com/blockchain" class=" ">
                                区块链技术
                                                            </a>
                    </li> -->
                    <!--  <li class="tab ">
                         <a href="http://www.jinse.com/columns" class=" ">
                                 专栏
                                                             </a>
                     </li> -->
                    <li class="tab ">
                        <a href="/School/Index" class=" ">
                            蓝海学院
                        </a>
                    </li>
                    <li class="tab ">
                        <a href="/Coins/Index" class=" ">
                            币值
                        </a>
                    </li>
                    <li class="tab ">
                        <a href="/Navi/Index" class=" ">
                            网址导航
                        </a>
                    </li>
                </ul>
            </div>
            <div class="login right logine" style="display: none;">
                <div class="right phot posit">
                    <a href="javascript:void(0);"><img class="left login-avatar-link" alt="金色财经" src="http://www.jinse.com/"></a>
                    <span class="point center font12 login-notification" style="display: none;"></span>
                    <div class="ponav line36" style="display: none;">
                        <li class="paddingl8 login-nickname">--</li>
                        <li>
                            <a href="http://www.jinse.com/user/" class="login-base-url">基本资料</a>
                        </li>
                        <li>
                            <a href="http://www.jinse.com/user/contributes" title="我的文章">我的文章</a>
                        </li>
                        <li class="posit">
                            <a href="http://www.jinse.com/user/notifications">我的消息</a>
                            <span class="msg center font10 login-notification-unread" style="display:none;"></span>
                        </li>
                        <li>
                            <a href="http://www.jinse.com/logout">退出登录</a>
                        </li>
                        <ol class="sanj"></ol>
                    </div>
                </div>
                <span class="right section">
                    <a href="javascript:void(0);" target="_self" title="投稿" class="tougao contribute">
                        <img src="../Image/src/tougao.png">
                    </a>
                </span>
                <span class="right section ">
                    <a href="javascript:void(0);" target="_blank" title="搜索" class="sousuo search-btn">
                        <img src="../Image/src/so.png">
                    </a>
                </span>
            </div>
            <div class="login right nologin-div">
                <span class="loginbar gray5 right nologin-div">
                    <a href="http://www.jinse.com/login" title="登录">登录</a>  |
                    <a href="http://www.jinse.com/login" title="注册">注册</a>
                </span>
                <span class="right section">
                    <a href="javascript:void(0);" target="_self" title="投稿" class="tougao contribute">
                        <img src="../Image/src/tougao.png">
                    </a>
                </span>
                <span class="right section ">
                    <a href="javascript:void(0);" target="_blank" title="搜索" class="sousuo search-btn">
                        <img src="../Image/src/so.png">
                    </a>
                </span>
            </div>
            <div class="search left" style="display: none;">
                <span class="left">
                    <svg width="14px" height="16px" viewBox="0 0 14 16">
                        <path d="M11.7309509,11.8401477 L13.5145332,13.62373 L13.5145332,13.62373 C13.8454664,13.9546632 13.8454664,14.4912119 13.5145332,14.822145 C13.1836,15.1530782 12.6470514,15.1530782 12.3161182,14.822145 L10.4685612,12.9745881 C9.39595324,13.7158396 8.09487249,14.15 6.69238816,14.15 C3.01969457,14.15 0.0423881554,11.1726936 0.0423881554,7.5 C0.0423881554,3.82730641 3.01969457,0.85 6.69238816,0.85 C10.3650817,0.85 13.3423882,3.82730641 13.3423882,7.5 C13.3423882,9.15859097 12.7351868,10.6753625 11.7309509,11.8401477 Z M6.69238816,12.85 C9.64711157,12.85 12.0423882,10.4547234 12.0423882,7.5 C12.0423882,4.54527659 9.64711157,2.15 6.69238816,2.15 C3.73766474,2.15 1.34238816,4.54527659 1.34238816,7.5 C1.34238816,10.4547234 3.73766474,12.85 6.69238816,12.85 Z" fill-rule="nonzero"></path>
                    </svg>
                </span>
                <input class="font14 left search-name" name="search" type="text" placeholder="输入搜索内容" maxlength="50">
                <a class="right search-close" href="javascript:void(0);" title="搜索">
                    <svg width="11px" height="11px">
                        <path d="M5.78319985,4.15182899 L1.96482325,0.333452386 L1.96482325,0.333452386 C1.65240382,0.0210329483 1.14587182,0.0210329483 0.833452386,0.333452386 L0.833452386,0.333452386 L0.833452386,0.333452386 C0.521032948,0.645871824 0.521032948,1.15240382 0.833452386,1.46482325 L4.65182899,5.28319985 L0.833452386,9.10157646 L0.833452386,9.10157646 C0.521032948,9.41399589 0.521032948,9.92052788 0.833452386,10.2329473 L0.833452386,10.2329473 C1.14587182,10.5453668 1.65240382,10.5453668 1.96482325,10.2329473 L5.78319985,6.41457072 L9.60157646,10.2329473 C9.91399589,10.5453668 10.4205279,10.5453668 10.7329473,10.2329473 L10.7329473,10.2329473 C11.0453668,9.92052788 11.0453668,9.41399589 10.7329473,9.10157646 L10.7329473,9.10157646 L6.91457072,5.28319985 L10.7329473,1.46482325 C11.0453668,1.15240382 11.0453668,0.645871824 10.7329473,0.333452386 L10.7329473,0.333452386 L10.7329473,0.333452386 C10.4205279,0.0210329483 9.91399589,0.0210329483 9.60157646,0.333452386 L9.60157646,0.333452386 L5.78319985,4.15182899 Z"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div id="mainPart" style="padding-top: 0;"></div>
    <!-- 顶部广告 -->
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <div class="gotop center">
        <a href="http://www.jinse.com/feed_back/index" class="index-opinion"><img src="../Image/src/bi.png" alt=""><div>意见反馈</div></a>
        <a href="http://www.jinse.com/#top" class="index-fanhui yinchang">
            <svg width="19px" height="11px" viewBox="0 0 19 11">
                <g transform="translate(-1866.000000, -3246.000000)" fill="#FFFFFF">
                    <polygon id="Combined-Shape" fill="#FFFFFF" points="1875.89949 3246.70711 1884.38478 3255.19239 1882.97056 3256.6066 1875.19239 3248.82843 1867.41421 3256.6066 1866 3255.19239 1875.19239 3246"></polygon>
                </g>
            </svg>
            <div>返回顶部</div>
        </a>
    </div>
    <div class="sccg white font30 center yinchang" id="opiniontankuang"></div>
    <!-- 版权 -->
    <div class="foot clearfix">
        <div id="_partner">
            <div class="coop clearfix">
                <div class="nr left">
                    <span class="tit">内容合作</span>
                    <ul>
                        <li><a href="https://www.baidu.com/" target="_blank"><img class="left" src="../Image/src/baidu.png"></a></li>
                        <li><a href="http://news.sogou.com/" target="_blank"><img class="left" src="../Image/src/sougou.png"></a></li>
                        <li><a href="http://www.sina.com.cn/" target="_blank"><img class="left" src="../Image/src/sina.png"></a></li>
                        <li><a href="http://www.163.com/" target="_blank"><img class="left" src="../Image/src/163.png"></a></li>
                        <li><a href="http://www.hexun.com/" target="_blank"><img class="left" src="../Image/src/hexun.png"></a></li>
                        <li><a href="http://www.qq.com/" target="_blank"><img class="left" src="../Image/src/tengxun.png"></a></li>
                        <li><a href="http://36kr.com/" target="_blank"><img class="left" src="../Image/src/36kr.png"></a></li>
                        <li><a href="http://www.lieyunwang.com/" target="_blank"><img class="left" src="../Image/src/lieyun.png"></a></li>
                        <li><a href="http://www.donews.com/" target="_blank"><img class="left" src="../Image/src/donews.png"></a></li>
                        <li><a href="http://www.iyiou.com/" target="_blank"><img class="left" src="../Image/src/you.png"></a></li>
                        <li><a href="http://www.toutiao.com/" target="_blank"><img class="left" src="../Image/src/toutiao.png"></a></li>
                        <li><a href="http://www.ifeng.com/" target="_blank"><img class="left" src="../Image/src/229584.png"></a></li>
                    </ul>
                </div>
                <div class="zl right">
                    <span class="tit">战略合作</span>
                    <ul>
                        <li><a href="http://www.ciaba.cn/" target="_blank"><img class="left" src="../Image/src/289738.png"></a></li>
                        <li><a href="http://www.coldlar.com/" target="_blank"><img class="left" src="../Image/src/kushen.png"></a></li>
                        <li><a href="https://www.fengwo.com/" target="_blank"><img class="left" src="../Image/src/fengwo.png"></a></li>
                        <li><a href="https://www.bitstar.com/" target="_blank"><img class="left" src="../Image/src/bitstar.png"></a></li>
                        <li><a href="http://www.chainup.com/" target="_blank"><img class="left" src="../Image/src/lianshang.png"></a></li>
                        <li><a href="https://www.bitmain.com/" target="_blank"><img class="left" src="../Image/src/309581.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom-language bx">
            <h6>国家/语言</h6>
            <ul class="f">
                <li><a href="http://www.jinse.com/" target="_blank"><img src="../Image/src/china.png" alt="中国站">中国 - 简体中文</a></li>
                <li><a href="http://kr.cointime.com/" target="_blank"><img src="../Image/src/Korea.png" alt="韩国站">대한민국 - 한국어</a></li>
                <li><a href="http://jp.cointime.com/" target="_blank"><img src="../Image/src/Japan.png" alt="日本站">日本 - 日本語</a></li>
                <li>
                    <a href="javascript:void(0);">
                        <img src="../Image/src/english.png" alt="英国站">Australia -
                        English<span>即将上线</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <img src="../Image/src/els.png" alt="俄罗斯站">Российская империя - Русский
                        язык<span>即将上线</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="about">
            <ul class="copy left">
                <li><span>京ICP备16049139号</span><span>Copyright © 金色财经 版权所有</span></li>
            </ul>
            <ul class="right job">
                <li>
                    <span><a href="http://www.jinse.com/about.html" title="关于我们">关于我们</a></span>
                    <span><a href="http://www.jinse.com/join.html" title="加入我们">加入我们</a></span>
                    <span><a href="http://www.jinse.com/about.html#contact" title="联系我们">联系我们</a></span>
                    <span><a href="http://www.jinse.com/copy.html" title="版权声明">版权声明</a></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="cmt-pop" id="contribute_forbidden_notice" style="display:none;">
        <div class="cmt-mask"></div>
        <div class="cmt-xuzhi">
            <div class="cmt-xuzhi-con font16 line28">
                <p>您投送的稿件违反了金色财经的投稿协议，现已关闭您的投稿功能，如有异议请发邮件至<a href="mailto:tougao@jinse.com" title="首页">tougao@jinse.com</a>进行申诉。</p>
            </div>
            <div class="cmt-xuzhi-close">
                <input class="center font16 left" id="contribute_forbidden_notice_close" type="button" value="关闭" name="files" multiple="">
            </div>
        </div>
    </div>
    <script>
    </script>
    <script src="../Image/src/c.js"></script>
    <script type="text/javascript" src="../Image/src/almond.js"></script>
    <script type="text/javascript" src="../Image/src/lodash.js"></script>
    <script type="text/javascript" src="../Image/src/toast.js"></script>
    <script type="text/javascript" src="../Image/src/toastr.min.js"></script>
</body>

</html>
