<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>区块链蓝海</title>
    <meta name="keywords" content="区块链，区块链是什么，区块链快讯，区块链新闻，区块链学院，区块链培训，区块链百科">
    <meta name="description" content="素数科技是集行业新闻、资讯、行情、数据等一站式区块链产业服务平台，我们追求及时、全面、专业、准确的资讯与数据，致力于为区块链创业者以及数字货币投资者提供最好的产品和服务。">
    <meta name="author" content="素数科技">
    <link rel="shortcut icon" href="~/Image/ico%20(2).ico">
    <link rel="stylesheet" type="text/css" href="../Image/src/master.css">
    <link rel="stylesheet" type="text/css" href="../Image/src/live.css">
    <link rel="stylesheet" type="text/css" href="../Image/src/fix.css">
    <link rel="stylesheet" type="text/css" href="../Image/src/headr.css">
    <link rel="stylesheet" type="text/css" href="../Image/src/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="../Image/src/index.css">
    <link rel="stylesheet" type="text/css" href="../Image/src/layer.css">
    <script async="" src="../Image/src/analytics.js"></script>
    <script src="../Image/src/push.js"></script>
    <script src="../Image/src/hm.js"></script>
    <script src="../Image/src/11.0.1.js" id="sozz"></script>
    <script charset="utf-8" src="../Image/src/ab77b6ea7f3fbf79.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body style="background-color:#F7F8FA !important;">
    <header class="bgwhite marginb">
        <div class="topnav font12 line30" id="navtop">
            <div class="bx fontn">
                <div class="shijian" style="">
                    <strong id="nian">2017.11.27</strong>
                    <strong>今天</strong>
                    <strong id="xingqi">星期一</strong>
                    <strong id="shijian">22:20</strong>
                </div>
            </div>
        </div>
    </header>
    <div class="bgwhite marginb marginbs" id="navBar">
        <div class="nav">
            <div class=" logo  left">
                <a href="/Home/Index" title="素数科技">
                    <img src="~/Image/logo.png" width="200" height="37" alt="" />
                </a>
            </div>
            <style>
                .tab {
                    font-weight:200 !important;
                    font-family:'Microsoft Yahei'
                }
            </style>
            <div class=" mainbav  left font18">
                <ul>
                    <li class="tab ">
                        <a href="/Home/Index"> 首页
                        </a>
                    </li>
                    <li class="tab ">
                        <a href="/Article/Index?hs=%2flives" class=" ">
                            蓝海快讯
                        </a>
                    </li>
                    <li class="tab ">
                        <a href="/School/Index" class=" ">
                            蓝海学院
                        </a>
                    </li>
                    <li class="tab ">
                        <a href="/Article/Index?hs=%2fblockchain" class=" ">
                            蓝海头条
                        </a>
                    </li>

                    <li class="tab ">
                        <a href="/ABC/Index" class=" ">
                            区块链ABC
                        </a>
                    </li>
                    <li class="tab ">
                        <a href="/Coins/Index" class=" ">
                            币值
                        </a>
                    </li>
                    <li class="tab ">
                        <a href="/Navi/Index" class=" ">
                            网址导航
                        </a>
                    </li>
                    <li class="tab ">
                        <a href="/Home/AboutMe" class=" ">
                            联系我们
                        </a>
                    </li>
                </ul>
            </div>
            <div class="login right logine" style="display: none;">
            </div>
            <div class="search left" style="display: none;">
                <span class="left">
                    <svg width="14px" height="16px" viewBox="0 0 14 16">
                        <path d="M11.7309509,11.8401477 L13.5145332,13.62373 L13.5145332,13.62373 C13.8454664,13.9546632 13.8454664,14.4912119 13.5145332,14.822145 C13.1836,15.1530782 12.6470514,15.1530782 12.3161182,14.822145 L10.4685612,12.9745881 C9.39595324,13.7158396 8.09487249,14.15 6.69238816,14.15 C3.01969457,14.15 0.0423881554,11.1726936 0.0423881554,7.5 C0.0423881554,3.82730641 3.01969457,0.85 6.69238816,0.85 C10.3650817,0.85 13.3423882,3.82730641 13.3423882,7.5 C13.3423882,9.15859097 12.7351868,10.6753625 11.7309509,11.8401477 Z M6.69238816,12.85 C9.64711157,12.85 12.0423882,10.4547234 12.0423882,7.5 C12.0423882,4.54527659 9.64711157,2.15 6.69238816,2.15 C3.73766474,2.15 1.34238816,4.54527659 1.34238816,7.5 C1.34238816,10.4547234 3.73766474,12.85 6.69238816,12.85 Z" fill-rule="nonzero"></path>
                    </svg>
                </span>
                <input class="font14 left search-name" name="search" type="text" placeholder="输入搜索内容" maxlength="50">
                <a class="right search-close" href="javascript:void(0);" title="搜索">
                    <svg width="11px" height="11px">
                        <path d="M5.78319985,4.15182899 L1.96482325,0.333452386 L1.96482325,0.333452386 C1.65240382,0.0210329483 1.14587182,0.0210329483 0.833452386,0.333452386 L0.833452386,0.333452386 L0.833452386,0.333452386 C0.521032948,0.645871824 0.521032948,1.15240382 0.833452386,1.46482325 L4.65182899,5.28319985 L0.833452386,9.10157646 L0.833452386,9.10157646 C0.521032948,9.41399589 0.521032948,9.92052788 0.833452386,10.2329473 L0.833452386,10.2329473 C1.14587182,10.5453668 1.65240382,10.5453668 1.96482325,10.2329473 L5.78319985,6.41457072 L9.60157646,10.2329473 C9.91399589,10.5453668 10.4205279,10.5453668 10.7329473,10.2329473 L10.7329473,10.2329473 C11.0453668,9.92052788 11.0453668,9.41399589 10.7329473,9.10157646 L10.7329473,9.10157646 L6.91457072,5.28319985 L10.7329473,1.46482325 C11.0453668,1.15240382 11.0453668,0.645871824 10.7329473,0.333452386 L10.7329473,0.333452386 L10.7329473,0.333452386 C10.4205279,0.0210329483 9.91399589,0.0210329483 9.60157646,0.333452386 L9.60157646,0.333452386 L5.78319985,4.15182899 Z"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div id="mainPart" style="padding-top: 0;"></div>
    <!-- 顶部广告 -->
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <div class="gotop center">
        <a href="/Article/Index?hs=%2ffeed_back%2findex" class="index-opinion"><img src="../Image/src/bi.png" alt=""><div>意见反馈</div></a>
        <a href="/#top" class="index-fanhui yinchang">
            <svg width="19px" height="11px" viewBox="0 0 19 11">
                <g transform="translate(-1866.000000, -3246.000000)" fill="#FFFFFF">
                    <polygon id="Combined-Shape" fill="#FFFFFF" points="1875.89949 3246.70711 1884.38478 3255.19239 1882.97056 3256.6066 1875.19239 3248.82843 1867.41421 3256.6066 1866 3255.19239 1875.19239 3246"></polygon>
                </g>
            </svg>
            <div>返回顶部</div>
        </a>
    </div>
    <div class="sccg white font30 center yinchang" id="opiniontankuang"></div>
    <!-- 版权 -->
    <div class="foot clearfix">
        <div id="_partner">
            <div class="coop clearfix">
                @*<div class="nr left">
                    <span class="tit">内容合作</span>
                    <ul>
                        <li><a href="https://www.baidu.com/" target="_blank"><img class="left" src="../Image/src/baidu.png"></a></li>
                        <li><a href="http://news.sogou.com/" target="_blank"><img class="left" src="../Image/src/sougou.png"></a></li>
                        <li><a href="http://www.sina.com.cn/" target="_blank"><img class="left" src="../Image/src/sina.png"></a></li>
                        <li><a href="http://www.163.com/" target="_blank"><img class="left" src="../Image/src/163.png"></a></li>
                        <li><a href="http://www.hexun.com/" target="_blank"><img class="left" src="../Image/src/hexun.png"></a></li>
                        <li><a href="http://www.qq.com/" target="_blank"><img class="left" src="../Image/src/tengxun.png"></a></li>
                        <li><a href="http://36kr.com/" target="_blank"><img class="left" src="../Image/src/36kr.png"></a></li>
                        <li><a href="http://www.lieyunwang.com/" target="_blank"><img class="left" src="../Image/src/lieyun.png"></a></li>
                        <li><a href="http://www.donews.com/" target="_blank"><img class="left" src="../Image/src/donews.png"></a></li>
                        <li><a href="http://www.iyiou.com/" target="_blank"><img class="left" src="../Image/src/you.png"></a></li>
                        <li><a href="http://www.toutiao.com/" target="_blank"><img class="left" src="../Image/src/toutiao.png"></a></li>
                        <li><a href="http://www.ifeng.com/" target="_blank"><img class="left" src="../Image/src/229584.png"></a></li>
                    </ul>
                </div>*@
                <div class="">
                    <span class="tit">战略合作</span>
                    <ul>
                        @* 巴比特 *@
                        <li><a href="http://www.8btc.com/" target="_blank"><img class="left" src="~/Image/zhanlue/%e5%b7%b4%e6%af%94%e7%89%b9.png"></a></li>
                        @* 创新产业联盟 *@
                        <li><a href="http://www.coldlar.com/" target="_blank"><img class="left" src="~/Image/zhanlue/%e5%88%9b%e6%96%b0%e4%ba%a7%e4%b8%9a%e8%81%94%e7%9b%9f.png"></a></li>
                        @* 金色财经 *@
                        <li><a href="https://www.fengwo.com/" target="_blank"><img class="left" src="~/Image/zhanlue/%e9%87%91%e8%89%b2%e8%b4%a2%e7%bb%8f.png"></a></li>
                        @* 链向财经 *@
                        <li><a href="https://www.bitstar.com/" target="_blank"><img class="left" src="~/Image/zhanlue/%e9%93%be%e5%90%91%e8%b4%a2%e7%bb%8f.png"></a></li>
                        @* 链之家 *@
                        <li><a href="http://www.chainup.com/" target="_blank"><img class="left" src="~/Image/zhanlue/%e9%93%be%e4%b9%8b%e5%ae%b6.png"></a></li>
                        @* 数字化企业 *@
                        <li><a href="https://www.bitmain.com/" target="_blank"><img class="left" src="~/Image/zhanlue/%e6%95%b0%e5%ad%97%e5%8c%96%e4%bc%81%e4%b8%9a.png"></a></li>
                        @* 数字化企业 *@
                        <li><a href="https://www.bitmain.com/" target="_blank"><img class="left" src="~/Image/zhanlue/%e5%90%b4%e8%a7%a3%e5%8c%ba%e5%9d%97%e9%93%be.png"></a></li>
                        @* 数字化企业 *@
                        <li><a href="https://www.bitmain.com/" target="_blank"><img class="left" src="~/Image/zhanlue/%e4%ba%91%e5%88%86%e5%b8%83%20.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="about">
            <ul class="copy left">
                <li><span>鄂ICP备16049156号</span><span>Copyright © 素数科技 版权所有</span></li>
            </ul>
            <ul class="right job">
                <li>
                    <span><a href="javacript:void(0);" title="关于我们">关于我们</a></span>
                    <span><a href="/Home/AboutMe" title="联系我们">联系我们</a></span>
                    <span><a href="javacript:void(0);" title="版权声明">版权声明</a></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="cmt-pop" id="contribute_forbidden_notice" style="display:none;">
        <div class="cmt-mask"></div>
        <div class="cmt-xuzhi">
            <div class="cmt-xuzhi-con font16 line28">
                <p>您投送的稿件违反了素数科技的投稿协议，现已关闭您的投稿功能，如有异议请发邮件至<a href="javacript:void(0);" title="首页">tougao@edu.com</a>进行申诉。</p>
            </div>
            <div class="cmt-xuzhi-close">
                <input class="center font16 left" id="contribute_forbidden_notice_close" type="button" value="关闭" name="files" multiple="">
            </div>
        </div>
    </div>
    <script>
    </script>
    <script src="../Image/src/c.js"></script>
    <script type="text/javascript" src="../Image/src/almond.js"></script>
    <script type="text/javascript" src="../Image/src/lodash.js"></script>
    <script type="text/javascript" src="../Image/src/toast.js"></script>
    <script type="text/javascript" src="../Image/src/toastr.min.js"></script>
</body>

</html>
